* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #E55473;
}

/* header and top banner styles */
header {
    background-color: #E554731A;
}

.top-banner {
    display: flex;
    margin: 0 240px;
    gap: 100px;
}

.top-banner-info {
    padding-top: 200px;
}

.top-banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.top-banner-description {
    font-size: 18px;
    font-weight: 400;
    padding: 32px 0;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-style: none;
}

.top-banner-img {
    padding-top: 50px;

}

/* offers section style  */
.offers {
    background-color: #E554730D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 130px 0;
}
.special-discount{
    width: 35%;
}
.discount-title {
    font-size: 40px;
    font-weight: 800;
}

.discount-info {
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
}
.discount-img{
    padding: 100px 0;
}