* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #E55473;
}

.text-secondary {
    color: #FFFFFF;
}

/* header and top banner styles */
header {
    background-color: #E554731A;
}

.top-banner {
    display: flex;
    margin: 0 240px;
    gap: 100px;
}

.top-banner-info {
    padding-top: 200px;
}

.top-banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.top-banner-description {
    font-size: 18px;
    font-weight: 400;
    padding: 32px 0;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-style: none;
}

.top-banner-img {
    padding-top: 50px;

}
/* featured flower conatiner style  */

.featured-flower-container{
    text-align: center;
    margin-top: 180px;
}

.flowers-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* serivice container style */
.services{
    display: flex;
    justify-content: center;
    background-color: #2727270D;
    margin-top: 130px;
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 10px;
}
.service{
    text-align: center;
    padding: 90px;
}

/* offers section style  */
.offers {
    background-color: #E554730D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 130px 0;
}

.special-discount {
    width: 35%;
}

.discount-title {
    font-size: 40px;
    font-weight: 800;
}

.discount-info {
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
}

.discount-img {
    padding: 100px 0;
}

/* socila media container styles */

.social-media-container {
    justify-content: center;
    text-align: center;
    margin-bottom: 130px;
}

.socila-media-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social-media-description {
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0 50px 0;
    color: #27272799;
}

.social-media-container img {
    margin: 0 10px;
}

/* Subcription section style */
.subscription-container {
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 120px;
}

.subscription-info {
    text-align: center;
    padding: 120px 280px;
}

.subscription-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.subcription-discount {
    padding: 20px 0 35px 0;
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
}

.subscription-container input {
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;
    padding: 25px 10px;
    width: 35%;
}

footer {
    background-color: #111010;
    text-align: center;
    padding: 128px 0px;
}

footer h1 {
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: #FFFFFFE5;
    padding: 24px 0 32px 0;
    font-size: 18px;
    font-weight: 400;
}

.footer-info {
    color: #FFFFFF66;
    font-size: 16px;
    font-weight: 400;
}